# For ASP.NET Core

# Build results
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo

# Rider / VS Code
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# ASP.NET Core
appsettings.Development.json

# Publish output
publish/